<div style="background-color:red;">
	
	<div data-dojo-attach-point="mapNode" style="width:300px;height:300px;"></div>
	
	<div data-dojo-attach-point="allcountryNode"></div>

	<div>
		<p>Zip</p><input data-dojo-attach-point="zipNode" value="1457"type="text" />
	</div>
	<div>
		<p>city</p><input data-dojo-attach-point="cityNode" value="Nil Saint Vincent" type="text" />
	</div>
	<div>
		<p>Address</p><input data-dojo-attach-point="addressNode" value="Abbesse" type="text" />	
	</div>

	<div>
		<p>Number</p><input data-dojo-attach-point="numberNode" value="3" type="text" />
	</div>
	

</div>