<div>
					<ul id="openingHours">
						<li>
	 						<ul>
		 						<li><label>from </label><input type="text" class="input-mini"/><label>to </label><input type="text" class="input-mini"/></li>
		 						<li><label>from </label><input type="text" class="input-mini"/><label>to </label><input type="text" class="input-mini"/></li>
		 						<li><label>from </label><input type="text" class="input-mini"/><label>to </label><input type="text" class="input-mini"/></li>
		 						<li><label>from </label><input type="text" class="input-mini"/><label>to </label><input type="text" class="input-mini"/></li>
	 						</ul>
 						</li>
 					</ul>
</div>