<div>
	[ <button data-dojo-attach-point="gridButton">-></button>
	<div>
	<div data-dojo-attach-point="valuesNode" style="padding-left: 20px;">
		
	</div>
	<button data-dojo-attach-point="addButton" style="margin-left:20px;">+</button>
	<button data-dojo-attach-point="addExistingButton" style="display: none;margin-left:20px;">add existing</button>
	<button data-dojo-attach-point="addNewButton" style="display: none">add new</button>
	<button data-dojo-attach-point="addDicButton" style="display: none">+</button>
	</div>
	]
</div>