<div>
	<img src="" style="display: none;max-width: 50px;max-height: 50px;" data-dojo-attach-point="imgNode"/>
	<button data-dojo-attach-point="uploadButton">Upload img</button>
	<form data-dojo-attach-point="dropImageFormNode" enctype="multipart/form-data" method="post" style="display: none;">
       <input type="file" name="img" data-dojo-attach-point="inputNode"/>
	</form>
	
	<button data-dojo-attach-point="cancelButton">Cancel</button>
	<button data-dojo-attach-point="deleteButton">Delete</button>
</div>