<div>
   	<div class="wrapperPull" data-dojo-attach-point="pullToRefreshNode" style="display:none;line-height: 1.3rem;background:transparent;">
        <div class="pullToRefresh" style="width:250px">
            <img src="saga/widgets/mobile/Assets/img/pullToRefresh.svg" alt="" data-dojo-attach-point="arrowImg">
            <h4 data-dojo-attach-point="statusDiv"></h4>
            <h5 data-dojo-attach-point="lastUpdateDiv" style="width:280px;font-size: 15px;text-align: left;"></h5>
        </div>
    </div>
</div>