<header class="NavigationBar" style="z-index:1;height:44px;overflow:hidden;position:relative;">
	<a id="revealButton" class="leftBtn" href="" style="display:none" data-dojo-attach-point="revealButton"><img alt="" data-dojo-attach-point="revealImg"></a>
	<a class="leftBtn" href="" style="display:none" data-dojo-attach-point="backButton"><img alt="" data-dojo-attach-point="backImg"></a>
	<a class="leftBtn" href="" style="display:none" data-dojo-attach-point="cancelButton"><img alt="" data-dojo-attach-point="cancelImg"></a>
    <a class="rightBtn" href="" style="display:none" data-dojo-attach-point="addUserButton"><img alt="" data-dojo-attach-point="addUserImg"></a>
    <a class="rightBtn" href="" style="display:none" data-dojo-attach-point="settingsButton"><img alt="" data-dojo-attach-point="settingsImg"></a>
    <a class="rightBtn" href="" style="display:none" data-dojo-attach-point="infoButton"><img alt="" data-dojo-attach-point="infoImg"></a>

    <h1 class="topHeader" data-dojo-attach-point="titleNode"></h1>

</header>