/*------------------------------------- Sass VARIABLES --------------------------------------*/

$blue:#417fc1;
$red:#c14141;
$orange:#f3a433;
$yellow:#e5c92e;
$green:#62c141;
$purple:#8941c1;
$pink:#ff2b76;

/* VARIABLES FOR TAPBAR MENU */

$colorBg:#3E3E3E; /* BACKGROUND COLOR */
$colorText:#FFF; /* TEXT COLOR */

/*------------------------------------- Sass MIXINS --------------------------------------*/

/* BORDER RADIUS 4PX BY DEFAULT */
@mixin borderRadius ($radius: 4px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}
/* GRADIENTS */
@mixin gradientBg {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDUzMSA0MyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMiIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iNTMxIiBoZWlnaHQ9IjQzIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
    background-image: -moz-linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%);
    background-image: -o-linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%);
    background-image: linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%);
}
/* STYLE FOR EVERY BUTTONS */
@mixin btn {
    @include borderRadius(3px);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow:
        0 1px 0 rgba(255,255,255,.25),
        inset 0 0 2px rgba(255,255,255,.75);
    -webkit-box-shadow:
        0 1px 0 rgba(255,255,255,.25),
        inset 0 0 2px rgba(255,255,255,.75);
    box-shadow:
        0 1px 0 rgba(255,255,255,.25),
        inset 0 0 2px rgba(255,255,255,.75);
    @include gradientBg;
}
/* CHANGE THE VARIABLES COLORS HERE TO CHANGE THE COLOR SHEME OF THE APP */
@mixin bgColor {
    background-color: $blue;
    border-bottom: 1px solid darken($blue, 20);
}
/* CHANGE THE VARIABLES COLORS HERE TO CHANGE THE COLOR SHEME OF THE APP */
@mixin btnColor {
    border: 1px solid darken($blue, 30);
    @include bgColor;
    @include btn;
}
@mixin headerBg {
    @include bgColor;
    @include gradientBg;
    border-bottom: 1px solid rgba(0,0,0,.75);
}

/*------------------------------------- GENERAL --------------------------------------*/

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*-------------------------------- HEADER NAVIGATION BAR ---------------------------------------*/

header.NavigationBar {
    overflow: hidden;
    height: 44px;
    line-height: 44px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    @include headerBg;

    a {

        &.leftBtn, &.rightBtn {
            color:#333;
            width: 35px;
            height: 30px;
            display: block;
            @include btnColor;
            position:relative;

            img {
                position: absolute;
                top:2px;
                left: 4px;
                width: 25px;
            }
        }
        &.leftBtn {
            float: left;
            margin-left: 10px;
            margin-top: 6px;
        }
        &.rightBtn {
            float: right;
            margin-right: 10px;
            margin-top: 6px;
        }
    }
}

/*-------------------------------- REVEAL SHADOW LEFT ---------------------------------------*/

.global {
    -moz-box-shadow: -2px 0 5px rgba(0,0,0,.2);
    -webkit-box-shadow: -2px 0 5px rgba(0,0,0,.2);
    box-shadow: -2px 0 5px rgba(0,0,0,.2);
}

/*-------------------------------- SEARCH BAR ---------------------------------------*/

.input-medium.search-query {
    -moz-box-shadow:
        0 2px 0 rgba(255,255,255,.6),
        inset 0 3px 3px rgba(0,0,0,.08),
        0 0 0 1px #c5c5c5;
    -webkit-box-shadow:
        0 2px 0 rgba(255,255,255,.6),
        inset 0 3px 3px rgba(0,0,0,.08),
        0 0 0 1px #c5c5c5;
    box-shadow:
        0 2px 0 rgba(255,255,255,.6),
        inset 0 3px 3px rgba(0,0,0,.08),
        0 0 0 1px #c5c5c5;

    width: 100%;
    height:30px;
    margin: 0 auto;
    padding: 0;
    text-indent: 15px;
}

/*-------------------------------- REVEAL MENU ---------------------------------------*/

.leftReveal-container {
    font-family: 'proxima_nova_rgbold', Arial, sans-serif;
    color:#FFF;
    background-color: #FFF;
    width: 620px;

    .leftReveal-header {
        height: 44px;
        line-height: 44px;
        @include bgColor;
        -moz-box-shadow:
            0 1px 0 #1d4570,
            inset 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow:
            0 1px 0 #1d4570,
            inset 0 1px 0 rgba(255,255,255,.2);
        box-shadow:
            0 1px 0 #1d4570,
            inset 0 1px 0 rgba(255,255,255,.2);
        @include gradientBg;

        h2 {
            font-size: 18px;
            font-weight: bold;
            line-height: 44px;
            text-shadow: 0 1px 0 rgba(0,0,0,.25);
            padding-left: 10px;
            margin:0;
        }
    }
    .leftReveal-second-header {
        background-color: #4a4a4a;
        height: 20px;
        line-height: 20px;
        @include bgColor;
        -moz-box-shadow:
            0 2px 0 #284d74,
            inset 0 1px 0 rgba(255,255,255,.15);
        -webkit-box-shadow:
            0 2px 0 #284d74,
            inset 0 1px 0 rgba(255,255,255,.15);
        box-shadow:
            0 2px 0 #284d74,
            inset 0 1px 0 rgba(255,255,255,.15);
        @include gradientBg;

        h3 {
            font-size: 13px;
            font-weight: bold;
            line-height: 20px;
            text-transform: uppercase;
            text-shadow: 0 -1px 0 rgba(0,0,0,.35);
            padding-left: 10px;
            margin:0;
        }
    }

    ul {

        list-style: none;
        padding: 0;
        margin: 0;

        .leftReveal-item-menu {
            background-color: #FFF;
            color:#5d5c5c;
            height: 50px;
            line-height: 31px;
            overflow: hidden;
            border-bottom: 1px solid #bababa;

            &.selected {
                background-color: #D9D9D9;
            }

            img {
                float: left;
                margin: 10px 0 0 10px;
                display: block;
                width:30px;
                height:30px;
                @include borderRadius(3px);
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
            }
            p {
                font-size: 15px;
                float:left;
                padding-left: 10px;
            }
            .leftReveal-notifications {
                color:#FFF;
                float:right;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                margin: 12px 12px 0 0;
                width: 30px;
                height: 24px;
                line-height: 24px;
                @include borderRadius(3px);
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                @include bgColor;
                border-bottom: 0;
            }
        }
    }
} 
.selected .dateTime{
    color: white !important;
}

.nonVisible{
    opacity:0;
    position: absolute;
}

/*------------------------------------- GENERAL STYLE FRANCOIS CELLS --------------------------------------*/

.RevealTableViewCell {
    @extend .leftReveal-item-menu;
}
.RevealTableViewUserCell {
    @extend .leftReveal-header;
}
.RevealTableViewHeader {
    @extend .leftReveal-second-header;
}

/*------------------------------------- TAP BAR STYLE --------------------------------------*/

footer.tapBar {
    nav {

        background-color: $colorBg;
        width: 320px;

        ul {

            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;

            li {

                width: 20%;
                height: 49px;
                float: left;

                &.item1, &.item2, &.item3, &.item4, &.item5 {
                    background: url(../img/tapbar-sprite.png) no-repeat;

                    &.selected {
                        background-color: $colorText;

                        a {
                            color: $colorBg;
                            text-decoration: none;
                        }
                    } 
                }

                &.item1 {
                    background-position: center -11px;

                    &.selected {
                        background-position: center -289px;
                    }
                }
                &.item2 {
                    background-position: center -67px;

                    &.selected {
                        background-position: center -345px;
                    }
                }
                &.item3 {
                    background-position: center -122px;

                    &.selected {
                        background-position: center -400px;
                    }
                }
                &.item4 {
                    background-position: center -176px;

                    &.selected {
                        background-position: center -454px;
                    }
                }
                &.item5 {
                    background-position: center -231px;

                    &.selected {
                        background-position: center -509px;
                    }
                }

                a {
                    display: block;
                    color:$colorText;
                    text-align: center;
                    font-size: 12px;
                    padding: 28px 0 15px 0;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/* MEDIAQUERIES FOR ICONS RETINA READY */

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    footer.tapBar {
        nav {
            ul {
                li {
                    &.item1, &.item2, &.item3, &.item4, &.item5 {
                        background: url(../img/tapbar-sprite-retina.png) no-repeat;
                        background-size: 26px;

                        &.selected {
                            background-color: $colorText;

                            a {
                                color: $colorBg;
                                text-decoration: none;
                            }
                        } 
                    }
                    &.item1 {
                    background-position: center -11px;

                        &.selected {
                            background-position: center -289px;
                        }
                    }
                    &.item2 {
                        background-position: center -67px;

                        &.selected {
                            background-position: center -345px;
                        }
                    }
                    &.item3 {
                        background-position: center -122px;

                        &.selected {
                            background-position: center -400px;
                        }
                    }
                    &.item4 {
                        background-position: center -176px;

                        &.selected {
                            background-position: center -454px;
                        }
                    }
                    &.item5 {
                        background-position: center -231px;

                        &.selected {
                            background-position: center -509px;
                        }
                    }
                }
            }
        }
    }
}
