<tr>
  <td data-dojo-attach-point="dayNode"></td>
  <td align="center" data-dojo-attach-point="containerNode">
  	<!--<div>
  		<input data-dojo-attach-point="openMorningNode"/>
  		<input data-dojo-attach-point="closeMorningNode">
  	</div>-->

  	<button data-dojo-attach-point="buttonNode">Add time slot...</button>
  </td>
  <!--<td align="center">
  	<input data-dojo-attach-point="openAfternoonNode"/>
  	<input data-dojo-attach-point="closeAfternoonNode"/>
  </td>
  <td><input data-dojo-attach-point="ckeckboxNode" data-dojo-attach-event="onclick:changeCheckBoxState" type="checkbox" name="" value="close"></td>-->
</tr>
